* {
    margin: 0;
    padding: 0;
}

/* Normalize buttons */
button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

:root {
    --color-header-bg: #636363;
    --color-border-nav-buttons: #313131;
    --color-font-nav-buttons: #e7e7e7;
    --color-font-nav-buttons-active: #b6b6b6;
    --header-height: 50px;
    --padding-nav-buttons: 5px 10px;
    --border-nav-buttons: solid var(--color-border-nav-buttons) 1px;
}

.main-header {
    width: 100vw;
    height: var(--header-height);
    background-color: var(--color-header-bg);
}
    .main-header nav {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .main-header ul {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        list-style: none;
    }
    .main-header a, .main-header button {
        display: inline-block;
        box-sizing: border-box;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        padding: var(--padding-nav-buttons);
        border: var(--border-nav-buttons);
        color: var(--color-font-nav-buttons);
        background-color: var(--color-header-bg);
        text-decoration: none;
    }
        .main-header a:hover, .main-header button:hover {
            text-decoration: underline;
        }
        .main-header a:active, .main-header button:active {
            transform: scale(0.9);
            color: var(--color-font-nav-buttons-active);
            outline: 0;
        }

[class$="-buttons"] {
    display: flex;
}

hr {
    border: none;
    background-color: var(--color-border-nav-buttons);
    width: 2px;
    margin: 0 10px;
}

.errorMessage {
    color: red;
}